# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS files
.DS_Store
Thumbs.db

# Addressables / generated data
Assets/AddressableAssetsData/*/*.bin*
